---
layout: default
title: Home
---

<!-- welcome post -->
<article>
  <a href="https://calape.ph/mayor">
    <div class="featured-post" style="background-image:url(https://calape.ph/assets/img/300157804_105759658917426_2553553401906153579_n.jpg)">
      <h2><span>Welcome to Calape!</span></h2>
    </div>
  </a>
</article>

{% for post in paginator.posts %}
  {% include featured-post.html %}
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div>
