---
layout: default
title: Home
---

<!-- welcome to calape -->
<article>
  <a href="https://calape.ph/public-photos">
    <div class="featured-post" style="background-image:url('https://lh3.googleusercontent.com/pw/AL9nZEV_1TCBtQj22ZHxDdlYNV1sMlJf1Saa5fLv1s4HlgqTuhvOFUF7OjyzaawzdYAj1t9FVGcRCTxAqHFEHbz_RfOd_SFSccPNrEwjPbkITcUMsTQbMV2y7fXZn_uT5wSezKvltib_i0Loq9f6CcYIiH3h=w3012-h1696-no?authuser=0');">
      
    </div>
  </a>
</article>

{% for post in paginator.posts %}
  {% include featured-post.html %}
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div>
